* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

.logo {
  width: auto;
  height: 60px;

}

.layout-content {
  margin-top: 50px;
  /* Aggiunge uno spazio extra oltre il padding di Bootstrap */
}